<header>
<app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card photoCover="//images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2163589b-bd1f-44cb-9a37-4b02c4ad7053/dg8snh5-c45d4262-020d-4ff0-bee1-b8d479c5861b.jpg/v1/fill/w_600,h_1050,q_75,strp/super_sayajin_son_goku_wallpaper_dragonball_z_by_sennexx_dg8snh5-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzIxNjM1ODliLWJkMWYtNDRjYi05YTM3LTRiMDJjNGFkNzA1M1wvZGc4c25oNS1jNDVkNDI2Mi0wMjBkLTRmZjAtYmVlMS1iOGQ0NzljNTg2MWIuanBnIiwiaGVpZ2h0IjoiPD0xMDUwIiwid2lkdGgiOiI8PTYwMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS53YXRlcm1hcmsiXSwid21rIjp7InBhdGgiOiJcL3dtXC8yMTYzNTg5Yi1iZDFmLTQ0Y2ItOWEzNy00YjAyYzRhZDcwNTNcL3Nlbm5leHgtNC5wbmciLCJvcGFjaXR5Ijo5NSwicHJvcG9ydGlvbnMiOjAuNDUsImdyYXZpdHkiOiJjZW50ZXIifX0.rnNAYyQZly9gwKDKGt9DCT-dDJRTCM00gXvCePZzpgw"

    cardTitle=" O novo filme do Dragon Ball é anunciado hoje."

    cardDescription="Hoje comemora o novo filme de Dragon Ball."


    >

  </app-big-card>

  </div>
  <div class="articles__others">
    <app-card
    photoCover="//i.pinimg.com/originals/a7/cc/df/a7ccdfdd005a1a37c24afe7e208aa7d5.jpg"
    cardTitle="Saiu Novo filme do Dragon Ball">

    </app-card>

    <app-card
    photoCover= "//midias.correiobraziliense.com.br/_midias/jpg/2024/01/29/675x450/1_whatsapp_image_2024_01_29_at_10_17_02__1_-34587518.jpeg"
    cardTitle="Saiu Novo filme do Dragon Ball Super"> </app-card>
    <app-card
     photoCover="//t.ctcdn.com.br/OUtAwOA3sg_K8D5RdmEFkrvkuj8=/1200x675/smart/i631643.jpeg"
    cardTitle="Nova transformação do Dragon Ball"> </app-card>

  </div>
</div>
